body {
  background-color: #D0E8B5;
}

.left {
  float:left;
  width:180px;
  background-color:#ff0000;
  border-width: 1px;
  border-color: #000000;
}

.right {
  width: 100%;
}

.bg-green {
  background-color: #065201;
}

#title {
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 8px;
  background: #30D732;
  font-size: 17pt;
  font-weight:bold;
}
